<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="four wide column center">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.about")}}</h4>
        <div class="ui inverted link list">
          <a class="item" href="https://discuss.gogs.io">{{Tr(Lang, "footer.user_forum")}}</a>
          <a class="item" href="http://eepurl.com/bvu3Xb">{{Tr(Lang, "footer.subscribe_news")}}</a>
        </div>
      </div>
      <div class="four wide column center">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.find_us")}}</h4>
        <div class="ui inverted link list">
          <a class="item" target="_blank" href="https://github.com/gogs">GitHub</a>
          <a class="item" target="_blank" href="https://twitter.com/GogsHQ">Twitter</a>
          <a class="item" target="_blank" href="http://weibo.com/gogschina">新浪微博</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.sponsor")}}</h4>
        <div class="ui inverted link list">
          <a target="_blank" href="https://bitlaunch.io"><img src="/img/sponsors/bitlaunch.svg" width="100%"></a>
          <a target="_blank" href="https://www.vpsserver.com/"><img src="/img/sponsors/vpsserver.svg" width="100%"></a>
          <a target="_blank" href="https://www.hosted.nl"><img src="/img/sponsors/hosted.nl.png" width="100%"></a>
          <a target="_blank" href="https://monovm.com"><img src="/img/sponsors/monovm.png"></a>
        </div>
      </div>
      <div class="four wide column">
        <a target="_blank" href="https://www.digitalocean.com/"><img src="/img/sponsors/digitalocean.png" width="100%"></a>
        <a target="_blank" href="https://www.keycdn.com/"><img src="/img/sponsors/keycdn.svg" width="100%"></a>
      </div>
      <div class="row">
        <div class="sixteen wide column">
        </div>
      </div>
      <div class="row">
        <div class="center column">
          @ {{Year}} Gogs. {{Tr(Lang, "copyright") | safe}}
        </div>
      </div>
    </div>
  </div>
</div>
{{Extension.GABlock | safe}}