{% extends "base.html" %}
{% block title %}{{Tr(Lang, "name")}}: A painless self-hosted Git service{% endblock %}
{% block body %}
  <div class="ui inverted vertical masthead center aligned segment">
    {% include Page.NavbarTplPath %}

    <div class="ui text container">
      <br>
      <img src="/img/hero.png" width="100%">
      <h2>{{Tr(Lang, "home.tag_line")}}</h2>
      <a class="ui huge inverted basic button" href="{{Page.DocsBaseURL}}/installation"><i class="cubes icon"></i> {{Tr(Lang, "home.install")}}</a>
      <a class="ui huge inverted basic button" href="https://try.gogs.io/">{{Tr(Lang, "home.try_demo")}} <i class="right arrow icon"></i></a>
      <br>
      <br>

      <div class="ui carbonads container">
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYILK3U&placement=gogsio" id="_carbonads_js"></script>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui aligned stackable three column grid container">
      <div class="column">
        <h3 class="ui header">
        	<i class="magic icon"></i> {{Tr(Lang, "home.easy_install")}}
        </h3>
        <p>{{Tr(Lang, "home.easy_install_desc") | safe}}</p>
      </div>
      <div class="column">
        <h3 class="ui header">
        	<i class="laptop icon"></i> {{Tr(Lang, "home.cross_platform")}}
        </h3>
        <p>{{Tr(Lang, "home.cross_platform_desc") | safe}}</p>
      </div>
      <div class="column">
        <h3 class="ui header">
          <i class="send outline icon"></i> {{Tr(Lang, "home.lightweight")}}
        </h3>
        <p>{{Tr(Lang, "home.lightweight_desc") | safe}}</p>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui aligned stackable four column grid container">
      <div class="seven wide column center" style="margin: auto">
        <h1><i class="icon github"></i> {{Tr(Lang, "home.open_source")}}</h1>
        <p>{{Tr(Lang, "home.open_source_desc", "https://github.com/gogs/gogs/blob/master/LICENSE", "https://github.com/gogs/gogs") | safe}}</p>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=gogs&repo=gogs&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui aligned stackable container">
      <div class="row">
        <div class="center aligned column">
          <h1 class="ui header">
            <div class="content">
              {{Tr(Lang, "home.screenshots")}}
            </div>
          </h1>
          <p id="screenshot-scroll">
            <i class="angle double left icon"></i>
            {{Tr(Lang, "home.scroll")}}
            <i class="angle double right icon"></i>
          </p>

          <section class="carousel">
            <div class="images">
              <img src="/img/screenshots/1.png">
              <img src="/img/screenshots/2.png">
              <img src="/img/screenshots/3.png">
              <img src="/img/screenshots/4.png">
              <img src="/img/screenshots/5.png">
              <img src="/img/screenshots/6.png">
              <img src="/img/screenshots/7.png">
              <img src="/img/screenshots/8.png">
              <img src="/img/screenshots/9.png">
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui aligned stackable container">
      <div class="row">
        <div class="center aligned column">
          <h1 class="ui header">
            <div class="content">
              {{Tr(Lang, "home.who_is_using")}}
            </div>
          </h1>
          <div id="clientele">
            <a target="_blank" href="https://www.igt.com/">
              <img src="/img/brands/igt.png">
            </a>
            <a target="_blank" href="https://notabug.org/">
              <img src="/img/brands/notabug.png">
            </a>
            <a target="_blank" href="http://www.yeeuu.com/">
              <img src="/img/brands/yeeuu.png">
            </a>
            <a target="_blank" href="http://www.jesns.com/">
              <img src="/img/brands/jesns.gif">
            </a>
            <a target="_blank" href="http://fabric8.io/">
              <img src="/img/brands/fabric8.svg">
            </a>
            <a target="_blank" href="http://weimaitong.com/">
              <img src="/img/brands/weimaitong.jpg">
            </a>
            <a target="_blank" href="http://game.163.com/">
              <img src="/img/brands/netease_game.png">
            </a>
            <a target="_blank" href="http://www.osinet.fr/">
              <img src="/img/brands/osinet.png">
            </a>
            <a target="_blank" href="http://codemen.com/">
              <img src="/img/brands/codemen.png">
            </a>
            <a target="_blank" href="https://unfoldingword.org/">
              <img src="/img/brands/unfoldingword.png">
            </a>
            <a target="_blank" href="http://cubekode.com/">
              <img src="/img/brands/cubekode.png" style="background-color: black">
            </a>
            <a target="_blank" href="https://teknik.io/">
              <img src="/img/brands/teknik.svg">
            </a>
            <a target="_blank" href="https://www.liepin.com/">
              <img src="/img/brands/liepin.png" style="background-color: #303a40">
            </a>
            <a target="_blank" href="https://www.keenton.com/">
              <img src="/img/brands/keenton.png">
            </a>
            <a target="_blank" href="https://www.loadingplay.com/">
              <img src="/img/brands/loadingplay.png">
            </a>
            <a target="_blank" href="https://www.proginn.com/">
              <img src="/img/brands/proginn.png">
            </a>
            <a target="_blank" href="http://www.olemiss.edu/">
              <img src="/img/brands/uofmississippi.png">
            </a>
            <a target="_blank" href="https://coelis.ch/">
              <img src="/img/brands/coelis.png">
            </a>
            <a target="_blank" href="https://www.global.de/">
              <img src="/img/brands/global_access.png">
            </a>
            <a target="_blank" href="https://adornis.de/">
              <img src="/img/brands/adornis.png">
            </a>
            <a target="_blank" href="http://www.sunnyvale.it/">
              <img src="/img/brands/sunnyvale.jpg">
            </a>
            <a target="_blank" href="http://www.fxft.net/">
              <img src="/img/brands/fxft.jpg">
            </a>
            <a target="_blank" href="https://www.sapian.com.co/">
              <img src="/img/brands/sapian.png" style="background-color: #303a40">
            </a>
            <a target="_blank" href="https://www.steelants.cz/">
              <img src="/img/brands/steelants.png" style="padding: 0;">
            </a>
            <a target="_blank" href="http://www.cs2c.com.cn/">
              <img src="/img/brands/cs2c.png" style="padding: 0;">
            </a>
            </a>
            <a target="_blank" href="https://www.pmooe.at/">
              <img src="/img/brands/pmooe.png" style="padding: 0;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include Page.FooterTplPath %}
{% endblock %}
